- content_for :header_tags do
  %meta{name: 'applicationServerKey', content: Rails.configuration.x.vapid_public_key}
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)

  = javascript_pack_tag 'application', integrity: true, crossorigin: 'anonymous'
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-106593538-1', 'auto');
    ga('send', 'pageview');

.app-holder#mastodon{ data: { props: Oj.dump(default_props) } }
  %noscript
    = image_tag asset_pack_path('logo.svg'), alt: 'Mastodon'

    %div
      = t('errors.noscript_html')
