@media screen and (min-width: 1025px) {
  .column {
    width: 350px;
  }

  .landing-page {
    .features {
      #mastodon-timeline {
        width: 350px;
      }  
    } 
  }
}

// top page
.landing-page {
  .features .about-mastodon .features-list {
    margin-top: 0
  }

  .header-wrapper {
    background-image: url('../images/kotfz_wallpaper.jpg');
    background-repeat-y: no-repeat;

    @media screen and (min-width: 1025px) {
      background-position: center 55%;
      background-size: auto auto;
    }

    @media screen and (max-width: 1024px) {
      background-position: center;
      background-size: auto 70%;
    }

    .nav a {
      text-shadow: 1px 1px 10px #000000;
    }
  }    

  @media screen and (min-width: 1025px) {
    .header-wrapper:after {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      box-shadow: inset 80px 10px 50px rgba(23, 25, 31, 1.0), inset -80px -10px 50px rgba(23, 25, 31, 1.0);
    }    
  }

  .header-wrapper h1 {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 2px 10px #000000;
    small {
      color: #dddddd;
      font-size: 18px;
      text-shadow: 2px 2px 3px #000000;
    }    
  }
}

// replay & link
.reply-indicator__content a, .status__content a {
  color: #99ccff;
  text-decoration: none;
}

.tags__header {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background: #313543;
  font-size: 16px;
}

.twitch-tags {
  .twitch-label {
    background: #4B367C;
  }
}

.twitch-full {
  position: absolute; 
  bottom: 50px; 
  left: 0px; 
  height: 480px; 
  width: 853px;
  z-index: 101;

  &[draggable=true] {
    cursor: move;
  }
}

.tags__header__icon {
  width: 20px;
  margin-right: 7px;
}

.tags_add {
  margin-right: 0;
  padding-left: 6px;
  margin-left: 5px;
}

.tags__header__name {
  flex: 1;
}

ul.status__content {
  display: inline-block;
  margin: 4px;
  padding: 6px;
  background-color: #313543;
  border-radius: 3px;

  a {
    color: white;
  }
}

.simple_form .input-with-append .input input {
    padding-right: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page .header .links .brand img {
    height: 60px;
}

.logo-container h1 img {
    height: 100px;
    margin-right: 0;
}

.scrollable {
  @supports(display: grid) { // hack to fix Chrome <57
    contain: strict;
  }
}

.optionally-scrollable {
  .amazon-banner {
    border-radius: 4px;
    padding-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-height: 851px) {
      background: url('../images/amazon_banner.jpg');
      width: 80%;
      height: 245px;
      background-size: cover;
    }

    @media screen and (max-height: 850px) {
      background-image: url('../images/amazon_banner_mini.jpg');
      width: 282px;
      height: 80px;
      background-size: cover;
    }
  }
}

.getting-started {
  padding-bottom: 0;
  background: none;
}

.announcements {
  margin-bottom: 10px;
  @media screen and (max-width: 1024px) {
    padding: 0 10px;
  }

  li {
    display: flex;
    padding: 10px;
    color: $ui-base-color;
    background: darken($primary-text-color, 8%);
    border-radius: 4px;

    & + li {
      margin-top: 10px;
    }
  }
}

.announcements__icon {
  flex: 0 0 auto;
  border-radius: 5%;
  display: inline-block;
  overflow: hidden;
  width: 30px;
  height: 30px;

  img {
    width: 100%;
    height: 100%;
  }
}

.announcements__body {
  width: 100%;

  p {
    padding-left: 5px;
    font-size: 12px;
  }
}

.announcements__link {
  display: inline-block;
  color: $ui-base-color;
  text-decoration: none;
  padding: 1px 10px 0;
  border: solid 1px $ui-base-color;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 3px;
}

.announcements__body__dismiss {
  float: right;
}

.sns-share-button {
  display: inline-block;
}

.button.button-alternative {
  color: #ffffff;
  background: #2b90d9;
}

