@import 'mixins';
@import 'variables';
@import 'fonts/roboto';
@import 'fonts/roboto-mono';
@import 'fonts/montserrat';

@import 'reset';
@import 'basics';
@import 'containers';
@import 'lists';
@import 'footer';
@import 'compact_header';
@import 'landing_strip';
@import 'forms';
@import 'accounts';
@import 'stream_entries';
@import 'components';
@import 'about';
@import 'tables';
@import 'admin';
@import 'rtl';

@media screen and (min-width: 1025px) {
  .column {
    width: 350px;
  }

  .landing-page {
    .features {
      #mastodon-timeline {
        width: 350px;
      }  
    } }
}

// top page
.landing-page {
  .features .about-mastodon .features-list {
    margin-top: 0
  }

  .header-wrapper {
    background-image: url('../images/kotfz_wallpaper.jpg');
    background-repeat: repeat-y;
    background-position: center 55%;
    background-size: auto auto;

    .nav a {
      text-shadow: 1px 1px 10px #000000;
    }
  }    

  .header-wrapper h1 {
    text-shadow: 2px 2px 2px #000000;

    small {
      color: #dddddd;
      font-size: 14px;
      text-shadow: 1px 1px 1px #000000;
    }
  }
}

// replay & link
.reply-indicator__content a, .status__content a {
  color: #99ccff;
  text-decoration: none;
}

.tags__header {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background: #313543;
  font-size: 16px;
}

.twitch-tags {
  //margin: auto 0 10px;
  .twitch-label {
    background: #4B367C;
  }
}

.tags__header__icon {
  width: 20px;
  margin-right: 7px;
}

.tags__header__name {
  flex: 1;
}

ul.status__content {
  display: inline-block;
  margin: 4px;
  padding: 6px;
  background-color: #313543;
  border-radius: 3px;

  a {
    color: white;
  }
}

@media screen and (max-width: 1024px) {
  .getting-started__wrapper {
    position: relative;
    overflow-y: initial;
  }
  .getting-started {
    padding-bottom: 0;
    background: none;
  }    
}

.simple_form .input-with-append .input input {
    padding-right: 0;
}

.video {
  position: relative;
  height: 0;
  padding: 30px 0 56.25%;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

