= form_tag edit_admin_twitch_url, method: 'GET', class: 'simple_form' do
  .fields-group
    - Admin::FilterHelper::ACCOUNT_FILTERS.each do |key|
      - if params[key].present?
        = hidden_field_tag key, params[key]

    - %i(channel_name).each do |key|
      .input.string.optional
        = text_field_tag key, @twitch.channel_name, class: 'string optional', placeholder: "チャンネル名"

    .actions
      %button= "変更"
